<div class="grid-x turnover-statistics">
  <div class="cell small-12 medium-12 large-12">
    <div class="grid-x">
      <div class="cell small-12 medium-2 large-2 item">
        <p>Day payments</p>
        <p>{{ statistics.dayPayments | currency }}</p>
      </div>
      <div class="cell small-12 medium-2 large-2 item">
        <p>Month payments</p>
        <p>{{ statistics.weekPayments | currency }}</p>
      </div>
      <div class="cell small-12 medium-2 large-2 item">
        <p>Week payments</p>
        <p>{{ statistics.monthPayments | currency }}</p>
      </div>
      <div class="cell small-12 medium-2 large-2 item">
        <p>Year payments</p>
        <p>{{ statistics.yearPayments | currency }}</p>
      </div>
      <div class="cell small-2 medium-2 large-2 large-offset-2 item">
        <p>All payments</p>
        <p>{{ statistics.allPayments | currency }}</p>
      </div>
    </div>
  </div>

</div>


<div class="grid-x">
  <div class="cell small-12 medium-12 large-12">
    <mat-button-toggle-group  #group="matButtonToggleGroup" value="top10">
      <mat-button-toggle (click)="changeActivateTable('top10')" value="top10">Top 10 Users</mat-button-toggle>
      <mat-button-toggle (click)="changeActivateTable('affilliateProfit')" value="affiliateProfit">Affiliate Profits</mat-button-toggle>
    </mat-button-toggle-group>
    <table [hidden]="activeTable === 'affilliateProfit'" *ngIf="ELEMENT_DATA.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="leads">
        <th mat-header-cell *matHeaderCellDef> Leads </th>
        <td mat-cell *matCellDef="let element"> {{element.leads}} </td>
      </ng-container>

      <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef> Profit ready to widthdraw </th>
        <td mat-cell *matCellDef="let element"> {{element.profit | currency  }} </td>
      </ng-container>

      <ng-container matColumnDef="campaigns">
        <th mat-header-cell *matHeaderCellDef> Active campaigns </th>
        <td mat-cell *matCellDef="let element"> {{element.campaigns}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <span *ngIf="ELEMENT_DATA.length === 0">
      <p>Top affiliates list is already empty.</p>
    </span>

    <table [hidden]="activeTable === 'top10'" *ngIf="ELEMENT_PROFIT.length > 0" mat-table [dataSource]="profitSource" class="mat-elevation-z8" >

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="dayly">
        <th mat-header-cell *matHeaderCellDef> Dayly </th>
        <td mat-cell *matCellDef="let element"> {{element.dayly | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="weekly">
        <th mat-header-cell *matHeaderCellDef> Weekly </th>
        <td mat-cell *matCellDef="let element"> {{element.weekly | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="yearly">
        <th mat-header-cell *matHeaderCellDef> Yearly</th>
        <td mat-cell *matCellDef="let element"> {{element.yearly | currency }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedProfitColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedProfitColumns;"></tr>
    </table>
    <span *ngIf="ELEMENT_PROFIT.length === 0">
      <p>Affilaites profit list is already empty.</p>
    </span>
  </div>
</div>


