<div class="affiliates-list">
  <a class="item" *ngFor="let aff of affiliates" [routerLink]="['/affiliates/view/', aff.id]" >
    <div class="grid-x">
      <div class="cell small-12 medium-3 large-3 list-elem">
        <i *ngIf="aff.valid === 'validated'" class="fas fa-shield-alt verified"></i>
        <div class="email-aff">
          <p class="margin-0 text-truncate">{{aff.email}}</p>
          <p class="margin-0 sub-p">Email</p>
        </div>
      </div>
      <div class="cell small-12 medium-2 large-2 list-elem">
        <div class="leads-aff">
          <i class="far fa-smile"></i>
          <span> {{aff.leads}}</span>
          <p class="margin-0 sub-p">Leads</p>
        </div>
      </div>
      <div class="cell small-12 medium-3 large-3 list-elem">
        <div class="profit-ready-aff text-center">
          <span>
            {{aff.withdrawReady | currency}}
            <span class="font-small">/</span>
            {{aff.withdrawTotal | currency}}
            <span class="font-small">$</span>
          </span>
          <p class="margin-0 sub-p">Profit Ready to Withdraws / Total</p>
        </div>
      </div>
      <div class="cell small-12 medium-2 large-2 list-elem">
        <div class="profit-aff text-center">
          <span>
            {{aff.profitMonthly | currency}}
            <span class="font-small">/</span>
            {{aff.profitTotal | currency}}
            <span class="font-small">$</span>
          </span>
          <p class="margin-0 sub-p">Monthly / Total Profit</p>
        </div>
      </div>
      <div class="cell small-12 medium-2 large-2 list-elem">
        <div class="campaings-aff text-center">
          <i class="far fa-check-circle"></i>
          <span> {{aff.totalActiveCampaings}}</span>
          <p class="margin-0 sub-p">Active Campaings</p>
        </div>
      </div>
    </div>
  </a>
</div>