<footer class="footer grid-container fluid padding-top-1" id="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-12 medium-12 small-12">
        <div class="sub-footer grid-x grid-padding-x align-justify padding-horizontal-1 align-middle align-center padding-vertical-1 text-center">
          <p class="copyright inline margin-bottom-0">
            <span>Copyright © 2018 test.app | </span>
            <span>All Rights Reserved. |</span>
            <span>Test App Ltd, 321 London</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>