<div class="content-header box">
  <div class="grid-x">
    <div class="cell medium-6">
      <h4 class="margin-0">
      {{title}}
      <small>Control panel</small>
      </h4>
    </div>
    <div class="cell medium-6 flex align-middle text-right">
      <nav role="navigation">
        <ul class="breadcrumbs margin-0">
          <li>
            <a [routerLink]="['/dashboard']">
            <i class="fas fa-home"></i> Home</a></li>
           <li *ngFor="let item of crumbsArray">
            <a [routerLink]="[item.path]"> <span>{{ item.name }}</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>