<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
      affiliate@test.com
        <span>Email</span>
      </mat-panel-title>
      <mat-panel-description>
       10
        <span>Affiliate profit</span>
      </mat-panel-description>
      <mat-panel-description>
        22
        <span>Correct.email profit</span>
      </mat-panel-description>
      <mat-panel-description>
        32
        <span>Total profit</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="detailed">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <span>
            <p>fsfdsfds</p>
            <p>Name</p>
          </span>
          <span>
            <p>Aug.10.2018</p>
            <p>CreatedAt</p>
          </span>
          <span>
            <p>0.00</p>
            <p>Correct.email profit</p>
          </span>
          <span>
            <p>0.00</p>
            <p>Total profit</p>
          </span>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span>
            <p>fsfdsfds</p>
            <p>Name</p>
          </span>
          <span>
            <p>Aug.10.2018</p>
            <p>CreatedAt</p>
          </span>
          <span>
            <p>0.00</p>
            <p>Correct.email profit</p>
          </span>
          <span>
            <p>0.00</p>
            <p>Total profit</p>
          </span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
