<header class="header">
  <div class="grid-x main-nav">
    <div class="cell">
      <div class="top-bar padding-0">
        <div class="top-bar-left">
          <ul class="menu align-middle">
            <li>
              <a class="padding-0" [routerLink]="['/dashboard']">
                <img class="logo" [src]="'assets/img/logo.png'" alt="Logo">
              </a>
            </li>
            <li *ngFor="let item of menu">
              <a [routerLink]="[item.link]" routerLinkActive="active-link">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>