header {
  .top-bar {
    background-color: #363d4a;
    color: #363d4a;

    ul {
      background-color: #363d4a;
    }

    a {
      color: #afb7c3;
      font-size: .9rem;

      &.active-link {
        border-bottom: 1px solid #236f99;
        color: #f4f7f6;
      }

      &:hover {
        color: #fff;
      }
    }

  }

  .logo {
    height: 38px;
  }

}
