/* You can add global styles to this file, and also import other style files */
$fa-font-path:"~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import '~tui-chart/dist/tui-chart';
@import "~foundation-sites/scss/foundation";
@include foundation-everything(true, true);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  background: #F4F7F6;
  height: 100%;
  min-height: 100%;
}

.body-page {
  height: 100%;
}

.content-wrapper {

  table {
    box-shadow: none;
    font-size: 12px;

    tbody {
      background-color: #f4f7f6;
      border: 1px solid #f1f1f1;

      tr {
        cursor: pointer;

        td {
          text-align: center;
        }

        &:hover {
          background: #d1ecfb;
        }
      }

    };

    thead {
      background: #fff;

      th  {
        color: #3b4956;
        font-weight: 700;
        text-align: center;
      }
    }
  }


  .box {
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  &::before {
    background: #363d4a;
    top: 50px;
    left: 0;
    content: '';
    height: 50px;
    width: 100%;
    position: absolute;
  }

  .flex {
    display: flex;
  }

   .content-header {
    margin: 0 20px;
    position: relative;
  }

  .grid-container {
    max-width: 77rem;
  }

}
